<%- include('navbar', { navItems: [
    {
       path: '/partial-home',
       title: 'Home'
    },
    {
       path: '/partial-greet',
       title: 'Default Greet'
    },
    {
       path: '/partial-add-name',
       title: 'Add Name'
    }
] }); %>

<script src="/example-application.js"></script>
</body>
</html>
